@model IEnumerable<MvcMovie.Models.Movie>

@{
    ViewData["Title"] = "NotFound";
}

<div style="text-align:center; justify-content:center; padding:100px;">
    <h1><strong>Lo siento no encontramos este enlace</strong></h1>
    <a style="margin-top:20px;" class="btn btn-dark btn-lg" asp-action="Index">Regresar</a>
</div>
